@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*,::after, ::before{
  margin: 0;
  box-sizing: border-box;
}

:root{
  --clr-primary:#9e0258;
  --clr-secondary:#fcdd30;
  --clr-light-grey: rgb(240, 240, 240);
  --clr-mid-grey: rgb(160, 160, 160);
  --clr-dark-grey: hsl(0, 0%, 17%);
  --light-white-transparent: rgba(255, 255, 255, 0.18);
  --light-black-transparent: rgba(46, 46, 46, 0.15);
  --white-transparent: rgba(255, 255, 255, 0.5);
  --black-transparent: rgba(0, 0, 0, 0.6);
  --grey-transparent: rgba(82, 82, 82, 0.5);
  --rnd-soft: 0.25rem;
  --rnd-med: 1.1rem;
  --rnd-strong: 2rem;
  --rnd: 50%;
  --font-1: 'Anton', 'Roboto';
  --font-2: 'Lato', 'Roboto';
  --font-size-xxbig:3.8rem;
  --font-size-xbig:2.8rem;
  --font-size-big:1.8rem;
  --font-size-mid:1.2rem;
  --font-size-reg:1rem;
  --font-size-small:0.8rem;
  --font-size-xsmall:0.7rem;
  --small-spacing: 0.5px;
  --reg-spacing: 1px;
  --mid-spacing: 2px;
  --wide-spacing: 3px;
  --xwide-spacing: 6px;
}
body {
  margin: 0;
}
